.purchase-summary {
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.order-list {
  list-style: none;
}

.cancel {
  padding: 10px;
  background-color: red;
  color: white;
}

.continue {
  padding: 10px;
  background-color: green;
  color: white;
}

.content-wrap {
  padding: 10px;
}

@media(min-width: 600px) {
  .purchase-summary {
    width: 500px;
  }
}