.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  will-change: transform, opacity;
  animation-fill-mode: forwards;
  transform-origin: 10% 10%;
  animation-duration: 300ms;
}

.modal.show {
  animation-name: show-modal;
}

.modal.hide {
  animation-name: hide-modal;
}

@keyframes show-modal {
  0% {
    transform: scale(1.1) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes hide-modal {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1.1) translate(-50%, -50%);
    opacity: 0;
  }
}
