.App {
  text-align: center;
}

.button {
  background-color: white;
  font: inherit;
  border: 1px solid blue;
  border-radius : 3px;
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
  color: white;
}