.App {
  text-align: center;
}

.App button {
  background-color: white;
  font: inherit;
  border: 1px solid blue;
  border-radius : 3px;
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

.App button:hover {
  background-color: blue;
  color: white;
}


.App button.reset {
  border: 1px solid green;
}

.App button.reset:hover {
  background-color: green;
  color: white;
}