
.Cockpit button {
  background-color: white;
  font: inherit;
  border: 1px solid blue;
  border-radius : 3px;
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

.Cockpit button:hover {
  background-color: blue;
  color: white;
}


.Cockpit button.reset {
  border: 1px solid green;
}

.Cockpit button.reset:hover {
  background-color: green;
  color: white;
}

.Cockpit button.disabled {
  color: grey;
  border: 1px solid grey;
}

.Cockpit button.disabled:hover {
  background-color: white;
  color: grey;
}